<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- <welcome-file-list>
		<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
	</welcome-file-list> -->
	
	
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	
	
	<!-- 요청을 처리하기 전에 동작한다. -->
	<!-- UTF-8 인코딩 필터 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	



	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/springConfig/root-context.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	


	<servlet>
		<servlet-name>mainServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/springConfig/main-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
		
	<servlet-mapping>
		<servlet-name>mainServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	




	<servlet>
		<servlet-name>favoriteServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/springConfig/favorite-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>favoriteServlet</servlet-name>
		<url-pattern>*.favorite</url-pattern>
	</servlet-mapping>
	
	
	

	<servlet>
		<servlet-name>marketStaGramServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/springConfig/marketStaGram-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>marketStaGramServlet</servlet-name>
		<url-pattern>*.msg</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>compareServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/springConfig/compare-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>compareServlet</servlet-name>
		<url-pattern>*.compare</url-pattern>
	</servlet-mapping>
	
	
	
		<servlet>
		<servlet-name>marketIntroduceServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/springConfig/marketIntroduce-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>marketIntroduceServlet</servlet-name>
		<url-pattern>*.mid</url-pattern>
	</servlet-mapping>
	
	

</web-app>
