@charset "UTF-8";

#container{
	width : 100%;
	z-index : 20;
}

/* *************** 메인 1 - 영상 나오는 부분 *************** */
#mainVideoDiv, #mainVideo, #mainVideoFilter{
	width : 100%;
	height : 900px;
}

#mainVideoDiv{
	position : relative;
}

#mainVideo{
	position : absolute;
	left : 0px;
}

#mainVideoFilter{
	position : absolute;
	left : 0px;
	background-color : black;
	opacity: 0.7;
	
}
#mainVideoFilter p{
	position : absolute;
	width : 100%;
	font-family : "MaplestoryLight";
	font-size : 75px;
	text-align : center;
	color : white;
	top : 250px;
}

#mainVideoClickHere{
	position : absolute;
	width : 100%;
	bottom : 0px;	
}

#mainVideoClickHere img{
	display : block;
	margin : 0 auto;
	cursor : pointer;
}
/* *************** 메인 1 - 영상 나오는 부분 *************** */


/* *************** 메인 2 - 축제 정보가 시간마다 바뀌는 페이지 *************** */
#main2{
	position : relative;
	width : 100%;
	height : 960px;
}

#main2Background{
	position : absolute;
	background: url("./../images/backImg.jpg") no-repeat;
	width : 100%;
	height : 100%;
	left : 0px;
}

#carouselExampleIndicators{
	position : absolute;
	width : 700px;
	height : 400px;
	bottom : 0px;
	left : 200px;
	z-index:1;
}

#main2Title{
	position : absolute;
	top : 50px;
	right : 10px;
	font-size : 30px;
	font-weight : bold;
	color : white;
	z-index:2;
}
/* *************** 메인 2 - 축제 정보가 시간마다 바뀌는 페이지 *************** */


/* *************** 메인 3 - 간단한 배경과, 4개의 메뉴 구성페이지 *************** */
#main3{
	position : relative;
	background-color : lightgrey;
	width : 100%;
	height : 800px;
	z-index:3;
}

.btnBox{
	width : 300px;
	height : 300px;
	display : inline-block;
	position : absolute;
}

.btnBoxTitle{
	border-bottom : 1px solid lightgrey;
	width : 70%;
	margin-top:10px;
	margin-left : 50px;
	color : black;
}

.btnBoxTitle2{
	border-bottom : 1px solid lightgrey;
	width : 70%;
	margin-top:10px;
	margin-left : 50px;
	color : whitesmoke;
}

.main_li{
	margin-top : 15px;
	margin-left:25px;
}

.li_last{
	text-align:center;
	margin-right:20px;
	margin-top:20px;
}

.btnBox ul li:hover{
	color : green;
	text-decoration: underline;
}

.btnBox ul li input[type=button]{
	border : 1px solid lightgrey;
	background-color : rgba(255, 255, 255, 0);
	cursor : pointer;
	width : 200px;
	height : 50px;
	text-align:center;
}

.btnBox:first-child{
	background-color : white;
	left : 200px;
	top : 100px;

	
}

.btnBox:nth-child(2){
	background-color : yellow;
	left : 600px;
	top : 100px;
	
}

.btnBox:nth-child(3){
	background-color : green;
	left : 200px;
	top : 500px;
	
}

.btnBox:last-child{
	background-color : orange;
	left : 600px;
	top : 500px;

}

#container ul li{
	padding-left : 30px;
}

h2{
	text-align:center;
}
/* *************** 메인 3 - 간단한 배경과, 4개의 메뉴 구성페이지 *************** */
