* {box-sizing: border-box}

#img{
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    width: 16.6%;
    border:1px solid black;/*test*/
}

/* Style tab links */
.tablink {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 16.6%;
    border:1px solid black;/*test*/
}

.tablink:hover {
    background-color: lightgray;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;/*block, none*/
    padding-top: 50px;
    height: 300px;
    padding-left:240px;/*첫번째*/
}

#li01{
    margin-right:50px;/*두번째*/
}

#li02{
    margin-right:50px;
}

#li03{
    margin-right:50px;
}

#Home {
    /*background-color: pink;*/
    border-bottom:3px solid dimgray;
}

.sub ul li{
    display:inline-block;
    /*border:1px solid black;/*test*/
    width:200px;
    text-align:center;
}

a{
    text-decoration:none;
    font-size:20px;
}