

.contents{
	background:#f2f2f2;
	width:100%;
	margin: 0px auto 0;
	padding : 15px;
	position:relative;
	box-sizing:border-box;
	display:inline-block;
	
}

div{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    color: #525252;
    letter-spacing: -0.5px;
    /* font: inherit; */
    vertical-align: baseline;
   
}

.table_list tr{
	border-bottom:  1px solid  #e0e0e0;
	margin-top:50px;
}

.table_list td.left{
	text-align: left;
	padding : 30px 0px 30px 50px;
}

.table_list table td h3{
	margin-bottom:10px;
}

span{
	font-size:14px;
	line-height:20px;
}

.storeimg{
	display: inline-block;
	width:280px;
	height:180px;
}

#glayLayer{
	position: fixed;
	display: none;
	left: 0; top: 0;
	height: 100%;
	width: 100%;
	background: black;
	filter:alpha(opacit=60);
	opacity: 0.60;
}

#overLayer{
	display: none;
	top:30%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	position: fixed;
}
#overLayer img{
	width:500px;
	height:400px;
	cursor: pointer;
}