@charset "UTF-8";
@font-face{font-family:'MaplestoryLight'; src:url('./../../fonts/MaplestoryLight.ttf')}
@font-face{font-family:'write'; src:url('./../../fonts/서울한강장체B.ttf')}
@font-face{font-family:'Gwangju'; src:url('./../../fonts/빛고을광주_Medium.ttf')}
/* *************** 공통 스타일 부분 *************** */
body{
	margin : 0;
}

a{
	text-decoration: none;
	cursor : pointer;
}

ul{
	list-style : none;
	padding-left:0px;
}

textarea{
	resize : none;
}

iframe{
	border : none;
}
/* *************** 공통 스타일 부분 *************** */


/* *************** 전체 레이아웃 *************** */
header{
	float : left;
	height : 80px;
	width : 100%;
	position : sticky;
	top: 0px;
	z-index : 20;
	background-color : white;
	font-family : "Gwangju";
}

nav{
	width : 1080px;
	height : 80px;
	margin : 0 auto;
}

section{
	float : left;
	width : 100%;
}

footer{
	clear : both;
	height : 200px;
	margin : 0 auto;
	width : 1080px;
	font-family : "Gwangju";
}
/* *************** 전체 레이아웃 *************** */