#loginContainer{
    width:500px;
    height:400px;
    margin:0 auto;
    border: 1px solid black;
}

#loginTitle{
	padding-top:20px;
    font-size:30px;
    color:black;
    text-align:center;
}

#loginDiv01{
    width:400px;
    height:100px;
    margin-left:50px;
    position : relative;
}

section input[type=text], section input[type=password]{
	margin:10px;
    width:270px;
    height:30px;
    border:1px solid gray;
}

input[type=submit]{
	position : absolute;
	right : 30px;
	top : 0px;
    width:73px;
    height:70px;
    color:white;
    font-weight:bold;
    border-radius:3px;
    border:1px solid rgb(0,77,0);
    cursor : pointer;
}

#msg{
	text-align : center;
	color : red;
	font-weight : bold;
}

#loginBtns{
	text-align : center;
}

#registerBtn{
	width:220px;
	height:40px;
	margin-bottom:10px;
}