#loginContainer{
    width:500px;
    height:300px;
    margin:0 auto;
    border: 1px solid black;
}

#loginTitle{
    font-size:30px;
    color:black;
    margin:0 auto;
    text-align:center;
}

#loginDiv01{
    width:400px;
    height:200px;
    /*border:1px solid red;/*test*/
    margin-left:50px;
}

#loginDiv02 {
    float: left;
    /*border:1px solid orange;/*test*/
    margin-left:50px;
}

input[type=text], input[type=password]{
    width:200px;
    height:30px;
    border:1px solid gray;
}

.clear{
    clear:both;
}

input[type=submit]{
    float:left;
    width:73px;
    height:70px;
    background:gray;
    color:white;
    font-weight:bold;
    border-radius:3px;
    border:1px solid rgb(0,77,0);
    margin-left:5px;
}