@font-face{
    font-family:'MaplestoryLight'; 
    src:url('./../font/MaplestoryLight.ttf');
}

#mainFooter_logo {
    padding-top:50px;
    padding-left:50px;
}

select{
    float:right;
    margin-top:50px;
    margin-right:50px;
    width:150px;
    height:30px;
    font-size:15px;
    border:2px solid rgb(0,77,0);
}

h4.footerCont{
    text-align:right;
    margin:10px 30px 10px 0;
}