<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" /> 
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	
	<typeAliases>
		<typeAlias alias ="member" type="com.ict.market.main.dto.MarketMemberDto"/>
		<typeAlias alias ="mainHelpArticle" type="com.ict.market.main.dto.MainhelpDto"/>
		<typeAlias alias ="mainNotice" type="com.ict.market.main.dto.MainnoticeDto"/>
		
		<typeAlias alias ="market" type="com.ict.market.compare.dto.marketPriceDTO"/>
		<typeAlias alias ="mart" type="com.ict.market.compare.dto.martPriceDTO"/>
		<typeAlias alias="compare" type="com.ict.market.compare.dto.ComparePriceDTO"/>
		
		<typeAlias alias ="snsArticle" type="com.ict.market.marketStaGram.dto.SnsArticleDto"/>
		<typeAlias alias ="msgImg" type="com.ict.market.marketStaGram.dto.ImgDto"/>
		<typeAlias alias ="msgComment" type="com.ict.market.marketStaGram.dto.MsgCommentDto"/>
		<typeAlias alias ="like" type="com.ict.market.marketStaGram.dto.LikeDto"/>
		<typeAlias alias ="search" type="com.ict.market.marketStaGram.dto.SearchDto"/>

		<typeAlias alias="helpArticle" type="com.ict.market.favorite.dto.FavoriteDto"/>
		<typeAlias alias="commentList" type="com.ict.market.favorite.dto.CommentDto"/>
		<typeAlias alias="notice" type="com.ict.market.favorite.dto.NoticeDto"/>
		<typeAlias alias="file" type="com.ict.market.favorite.dto.FileDto"/>
		
		<typeAlias alias="marketList" type="com.ict.market.marketIntroduce.dto.MarketDto"/>
	</typeAliases>
	
</configuration>