@charset "UTF-8";

@font-face{font-family:'NanumSquareRoundB'; src:url('./../../fonts/NanumSquareRoundB.ttf')}

#p01, #p02{
	font-family : NanumSquareRoundB;
}

/* ********** 글 쓰기 및 검색 버튼 ********** */
#btnDiv{
	margin : 0 auto;
	width : 1080px;
	height : 50px;
	text-align : right;
	margin-bottom : 20px;
}

#btnDiv > input[type=button]{
    width : 145px;
    height : 45px;
    background : gray;
    color : white;
    font-weight : bold;
    border-radius : 3px;
    border : 1px solid rgb(0,77,0);
    margin-right : 100px;
    cursor : pointer;
}

#btnDiv input[type=text]{
	width : 100%;
	height : 100%;
}

#btnDiv > #searchBtn{
	margin-right : 50px;
}
/* ********** 글 쓰기 및 검색 버튼 ********** */




/* ********** 검색 결과 표시  ********** */
#keywordBox{
	position : relative;
	display : inline-block;
	height : 45px;
	width : 50%;
	margin-right : 10px;
}

#searchResult{
	position : absolute;
	width : 100%;
	text-align : left;
}

#searchResult li{
	border-bottom : 2px solid grey;
	border-left : 2px solid grey;
	border-right : 2px solid grey;
	height : 45px;
	padding-top : 10px;
	font-size : 18px;
}

#searchResult .keyword{
	margin-left : 10px;
	float : left;
}
#searchResult .keywordTotalCount{
	margin-right : 10px;
	float : right;
	color : grey;
}

#searchResult .noResult{
	text-align : center;
	color : grey;
}

#searchResult .keyword{
	cursor : pointer;
}

.keyword:hover{
	color : green;
}
/* ********** 검색 결과 표시  ********** */



/* ********** 글쓰기 양식을 모달박스로 만들기 ********** */
.modal{
	display : none;
	position : fixed;
	z-index : 10;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	overflow : auto;
	background-color : rgb(0,0,0);
	background-color : rgba(0,0,0,0.4);
}

 .modal-content{
	background-color : #fefefe;
	margin : 15% auto;
	padding : 20px;
	border : 1px solid #888;
	width : 40%;
	height : 50%;
}

.close{
	position : absolute;
	right : 30px;
	width : 30px;
	height : 30px;
	color : #aaa;
	font-size : 28px;
	font-weight : bold;
}

.closer:hover , .close:focus{
	color : black;
	text-decoration : none;
	cursor : pointer;
}


#writeForm > p{
	text-align : center;
	font-size : 23px;
	font-weight : bold;
}

#writeForm textarea{
	margin-left : 25px;
	margin-right : 25px;
	width : 90%;
}

#writeBtns{
	text-align : right;
}

#writeBtns > img{
	display : inline-block;
	width : 60px;
	height : 60px;
	cursor : pointer;
	margin-right : 20px;
}

#writeBtns > input[type=button]{
    margin-right : 20px;
}

#writeBtns > input[type=submit], #writeBtns > input[type=button]{
    width : 60px;
    height : 60px;
    background : gray;
    color : white;
    font-weight : bold;
    border-radius : 3px;
    border : 1px solid rgb(0,77,0);
    cursor : pointer;
}

#thumNailImgs{
	margin-top : 20px;
	margin-bottom : 10px;
	height : 160px;
	overflow : auto;

}

#thumNailImgs p{
	text-align : center;
	font-size : 16px;
	font-weight : bold;
}

#thumNailImgs img{
	display : inline-block;
	margin : 5px;
	width : 110px;
	height : 110px;
}

input[type=file]{
	display : none;
}

.thumDelBtn{
	cursor : pointer;
	padding-top : 15px;
	font-size : 15px;
	margin-left : 5px;
}

.thumNailImgArticles{
	float : left;
}
/* ********** 글쓰기 양식을 모달박스로 만들기 ********** */



/* ********** SNS 게시물 들 ********** */
#articles{
	width : 1080px;
	margin : 0 auto;
}

.article{
	position : relative;
	display : inline-block;
	width : 300px;
	height : 300px;
	margin : 30px 15px;
}

.article img{
	width : 300px;
	height : 300px;
	border : 1px solid white;
	border-radius : 5px;
}

.articleOverlap{
	position : absolute;
	top : 0px;
	left : 0px;
	width : 300px;
	height : 300px;
	background-color : rgba(0,0,0,0.5);
	color : white;
	text-align : center;
	line-height : 18;
	cursor : pointer;
}

.articleOverlap span{
	margin : 15px;
}

#likeNum > img, #commentNum img{
	display : inline-block;
	width : 18px;
	height : 18px;
	border : none;
}
/* ********** SNS 게시물 들 ********** */