#contents{
	width : 1080px;
	height : 700px;
	margin : 0 auto;
	margin-top : 30px;
}

#contents > div{
	float : left;
}

#imgs{
	width : 600px;
	margin : 15px;
}

#imgs img{
	display : inline-block;
	width : 500px;
	height : 500px;
}

#snsArticle{
	width : 400px;
	margin : 15px;
}

#marketStagramTitle01{
	font-size : 50px;
}

#marketStagramTitle02{
	font-size : 20px;
}

#snsArticleBtns img{
	cursor : pointer;
}